body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #900C3F;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #900C3F;
    font-size: 1.8em;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #900C3F;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #C70039;
}

blockquote {
    background-color: #f0f0f0;
    padding: 10px;
    border-left: 5px solid #900C3F;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #900C3F;
    color: white;
}

#preview {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 20px;
}
